<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="fittext1">Test potential candidates before you interview</h1>
			<hr>
			<p>Save your developers time and your company money by having candidates test online before you meet them in person</p>
			<a ui-sref="createTest" class="btn btn-primary btn-xl page-scroll hero-button">Create a test</a>
	        <a ui-sref="demoTest" class="btn btn-primary btn-xl page-scroll hero-button">Take a demo test</a>
		</div>
		<!--<p class="downButton"><i class="fa fa-4x fa-chevron-down"></i></p>-->

	</div>


</header>



<section class="bg-primary" id="nerds">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We save you money!</h2>
				<hr class="light">
				<p class="text-faded">Some of our competitors impose artifical limits on how many applicants you can test per month. Some charge hundreds of dollars a month. We don't do either and we're currently free to use.</p>
                <a ui-sref="createTest" class="btn btn-default btn-xl page-scroll hero-button">Create a test</a>
                <a ui-sref="demoTest" class="btn btn-default btn-xl page-scroll hero-button">Take a demo test</a>
			</div>
		</div>
	</div>
</section>


<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">At Your Service</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
					<h3>You control the questions</h3>
					<p class="text-muted">Want to ask custom questions? Want a mix of multiple choice, freeform text, or code questions? Want to set a time limit? Want to weight some questions more heavily than others? No problem. With TestDelta you can choose the format, the questions, the time limit. It's your candidate, and we put you totally in control.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>Real time answer playback</h3>
					<p class="text-muted">With key-by-key playback of a candidates answer, you can see the thought process behind the answer, not just the finished result. It's like watching the screen as your candidate types, but in your own time.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>No artifical limits on tests</h3>
					<p class="text-muted">Some services will restrict the number of tests you can administer in a month. Not us. With TestDelta you can have as many candidates interview as you like.</p>
				</div>
			</div>
			<!--<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
					<h3>Made with Love</h3>
					<p class="text-muted">You have to make your websites with love these days!</p>
				</div>
			</div>-->
		</div>
	</div>
</section>