<section class="bg-primary" id="nerds">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Billing should be simple and clear</h1>

				<h2>That's why TestDelta.com has one plan for everyone. Simple, straightforward, and scalable.</h2>
				</form>
			</div>
		</div>
		<style>
			.pricingContainer{
				background-color: white;
				border-radius: 25px;
				color: black;
				padding: 10px;
				padding-bottom: 30px;
				border-width: 1px;
				border-color: black;
				box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
			}

			.pricingTick{
				color: green;
			}

		</style>

		<div class="row">
			<div class="col-sm-4 col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center pricingContainer">
				<div class="caption">

					<h2>Pricing made simple</h2>
					<hr>

					<h4>£20 per user per month</h4>
					<br />

					<div class="row">
						<div class="col-sm-9 col-sm-offset-1"><p class="text-left">Unlimited candidates</p></div>
						<div class="col-sm-2"><p><i class="fa fa-check-square pull-left pricingTick"></i></p></div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-1"><p class="text-left">Unlimited tests</p></div>
						<div class="col-sm-2"><p><i class="fa fa-check-square pull-left pricingTick"></i></p></div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-1"><p class="text-left">Unlimited questions</p></div>
						<div class="col-sm-2"><p><i class="fa fa-check-square pull-left pricingTick"></i></p></div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-1"><p class="text-left">All features available</p></div>
						<div class="col-sm-2"><p><i class="fa fa-check-square pull-left pricingTick"></i></p></div>
					</div>
				</div>
				<form action="" method="POST">
					<script
							src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="pk_test_sJcFfo8nRSyQchJlws857zFq"
							data-amount="2000"
							data-name="TestDelta.com"
							data-description="Sign up for TestDelta.com"
							data-image="/128x128.png"
							data-locale="auto">
					</script>
				</form>
			</div>
		</div>
	</div>
</section>


<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Included in your plan</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-list-alt wow bounceIn text-primary"></i>
					<h3>Mix and match question types</h3>
					<p class="text-muted">Want to ask custom questions? Want a mix of multiple choice, freeform text, or code questions? TestDelta puts you in control and lets you mix and match in whatever order you choose.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-play-circle-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>Real time answer playback</h3>
					<p class="text-muted">With key-by-key playback of a candidates answer to freeform and code questions, you can see the thought process behind the answer, not just the finished result. It's like watching the screen as your candidate types, but in your own time.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>No artifical limits on candidates</h3>
					<p class="text-muted">Some services will restrict the number of candidates you can test in a month. Not us. With TestDelta you can have as many candidates interview as you like.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Everything over HTTPS</h3>
					<p class="text-muted">We know data is precious. Everything that happens on TestDelta is routed over HTTPS to make sure your data is as safe as possible. Passwords are of course hashed and salted. We take your data security seriously.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Syntax highlighting</h3>
					<p class="text-muted">When candidates are coding for you, it pays to have an evironment that helps with readability. Our code editor includes features like syntax highlighting and auto-tabbing</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Auto scoring</h3>
					<p class="text-muted">When you create a test, you can set up what the correct answers are. TestDelta will automatically mark the candidate's answers for you to view at a glance.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Enforce a time limit</h3>
					<p class="text-muted">Tired of candidates blatantly spending longer than they're meant to on your test? With TestDelta your time limit is strictly enforced.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>No limits on tests</h3>
					<p class="text-muted">Some services will restrict the number of tests you can create. With TestDelta you can have as many tests as you like.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-envelope-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Auto email your candidates</h3>
					<p class="text-muted">Let TestDelta take care of comms for you. When you assign a test to a candidate, we'll email them automatically</p>
				</div>
			</div>
		</div>
	</div>
</section>